button { 
  vertical-align: middle;

  background: none;
  outline: 1px solid #DDD;

  border-top: 3px solid #AAA;
  border-right: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  border-left: 3px solid #AAA;
  
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  text-align: center;
}

.settings button.unselected,
.board button.unrevealed {
  border-top: 1px solid #BBB;
  border-right: 3px solid #AAA;
  border-bottom: 3px solid #AAA;
  border-left: 1px solid #BBB;
  background-color: #EEE;
}

.board {

  .boardRow {
    display: flex;
    justify-content: center;
  }

  button {
    width: 32px;
    height: 32px;

    font-size: 18px;
    font-weight: bold;

    &.revealed-0 {
      color: transparent;
      text-shadow: none;
    }

    &.revealed-1 {
      color: purple;
    }
    &.revealed-2 {
      color: #9400D3;
    }
    &.revealed-3 {
      color: #4B0082;
    }
    &.revealed-4 {
      color: #00F;
    }
    &.revealed-5 {
      color: #0F0;
    }
    &.revealed-6 {
      color: #FF0;
    }
    &.revealed-7 {
      color: #FF7F00;
    }
    &.revealed-8 {
      color: #F00;
    }

    &.bomb.boom {
      background-color: red;
    }
  }
}


input[disabled] {
  color: red;
  font-weight: bold;
  font-family: Courier, monospace;
  width: 50%;
  font-size: x-large;
}


.unflagged {
  text-align: right;
}

.row,
.help {
  margin-top: 2em;
}

@media(max-width: 500px) {
  .board {
    button {
      height: 20px;
      width: 20px;
      overflow-x: hidden;
      font-size: 8px;
    }
  }
}
@media(max-width: 350px) {

  .board .large button {

    flex: 1 1 0;
    min-width: 16px;
      padding: 0;
    
    &.revealed-0 {
      text-shadow: none;
      font-size: 5px;
    }

    &.revealed-1 {
      background-color: purple;
      color: white;
    }
    &.revealed-2 {
      background-color: #9400D3;
      color: white;
    }
    &.revealed-3 {
      background-color: #4B0082;
      color: white;
    }
    &.revealed-4 {
      background-color: #00F;
      color: white;
    }
    &.revealed-5 {
      background-color: #0F0;
      color: white;
    }
    &.revealed-6 {
      background-color: #FF0;
      color: white;
    }
    &.revealed-7 {
      background-color: #FF7F00;
      color: white;
    }
    &.revealed-8 {
      background-color: #F00;
      color: white;
    }

    &.bomb.boom {
      background-color: red;
      color: white;
    }
  }
}
